* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  font-size: 0.88889em;
  background: white;
  font-family: "Droid Serif", serif;
  margin: 0 auto;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif; }

h2, h3 {
  font-family: "Open Sans", sans-serif; }

p, li, strong {
  font-size: 1.6em; }

li {
  padding: 0.5em;
  margin: 0; }

#bordertop {
  position: fixed;
  width: 100%;
  height: 6px;
  background: #fe9f48; }

header {
  margin: 0;
  padding-top: 2em; }
  header h1 {
    font-size: 20em;
    text-align: center;
    font-family: "Oswald", sans-serif; }
    header h1 a {
      color: #fe9f48;
      text-decoration: none;
      border-bottom: 6px solid #fe9f48;
      -webkit-text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.4);
      -moz-text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.4);
      -ms-text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.4);
      -o-text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.4);
      text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.4);
      transition: text-shadow 0.5s; }
      header h1 a:hover {
        color: #fe922f;
        border-bottom: 6px solid #fe922f;
        -webkit-text-shadow: 0px 14px 1px rgba(0, 0, 0, 0.4);
        -moz-text-shadow: 0px 14px 1px rgba(0, 0, 0, 0.4);
        -ms-text-shadow: 0px 14px 1px rgba(0, 0, 0, 0.4);
        -o-text-shadow: 0px 14px 1px rgba(0, 0, 0, 0.4);
        text-shadow: 0px 14px 1px rgba(0, 0, 0, 0.4); }

div[role=main] {
  max-width: 650px;
  margin: 100em auto 0 auto;
  background: white;
  padding: 1em 2em;
  border-radius: 4px; }
  div[role=main] section {
    margin-bottom: 3em;
    padding-top: 0.25em;
    padding-bottom: 4em; }
    div[role=main] section article {
      margin-bottom: 7em; }
    div[role=main] section ol.nopad li {
      margin-top: 0; }
    div[role=main] section ol.leftpad li {
      margin-left: 3em; }
    div[role=main] section ol li {
      padding: 0.2em 0;
      margin-top: 2em; }
    div[role=main] section a {
      color: #fe9f48; }
    div[role=main] section p {
      margin: 0 1em; }
    div[role=main] section h2 {
      font-size: 3em;
      font-weight: 100;
      color: #fe9f48;
      border-bottom: 1px solid #fe9f48; }
      div[role=main] section h2 span {
        color: #fe9f48; }
    div[role=main] section h3 {
      font-size: 1.8em;
      color: #333333; }
    div[role=main] section h4, div[role=main] section h5 {
      font-size: 1.6em;
      border-bottom: 1px solid #999999;
      padding-bottom: 0.2em;
      display: inline-block;
      margin-bottom: 0.3em;
      margin-top: 3em; }
    div[role=main] section h5 {
      border-bottom: none;
      margin-top: 1.5em; }
    div[role=main] section p {
      margin-top: 0.25em;
      line-height: 1.5;
      font-size: 1.6em;
      color: #222222; }
    div[role=main] section .divide {
      border-top: 1px dashed #dadada;
      border-bottom: 1px dashed #dadada;
      padding: 0.5em 0;
      margin: 1.5em 0 1.5em 1.3em;
      display: inline-block; }
    div[role=main] section .types {
      margin-left: 5em; }
  div[role=main] .code {
    margin: 1em 0;
    padding: 1em 1.5em;
    font-size: 1.4em;
    color: #555555;
    display: block;
    background-color: rgba(248, 248, 248, 0.8);
    overflow: auto;
    border: 2px solid #dddddd;
    font-family: "Courier New", Courier, monospace; }
    div[role=main] .code > span.param {
      padding-left: 3em;
      display: block; }
    div[role=main] .code > span.tag {
      color: #007fc9; }
    div[role=main] .code > span.two {
      padding-left: 3em; }
    div[role=main] .code > span.three {
      padding-left: 6em; }
    div[role=main] .code > span.divide {
      padding-left: 0;
      padding-right: 4em; }
